*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color:rgb(188, 184, 168);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(76, 70, 54);
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    width: 60px;
    height: 60px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(236, 163, 5, 0.2), 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 8px;
    cursor: pointer;
    
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background-color: rgb(235, 232, 216);
}

.number input{
    background-color: rgb(235, 232, 216);
}

form input.equal {
    width: 140px;
}

form .operator {
    
    color: rgb(114, 117, 22);
}